* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #f1f1f1;
}

a {
    text-decoration: none;
    color: slategray;
}

.flex {
    margin-bottom: 3rem;
}

.col-1 {
    display: none;
}

.container {

    width: 350px;
}

.top-container {
    
    margin: 2rem auto 1rem;

    text-align: center;
    padding: 1rem 2.5rem;
}

.logo {
    width: 70%;
    margin-bottom: 2rem;
}

.login-form {
    display: flex;
    flex-direction: column;
}

input[type='password'],
input[type='text'] {
    border: 1px solid lightgrey;
    border-radius: 3px;
    margin-bottom: 0.8rem;
    font-size: 0.8rem;
    width: 100%;
    padding: 0.7rem;
}

input[type='submit'] {
    border: none;
    border-radius: 3px;
    padding: 0.5rem;
    color: white;
    background: cornflowerblue;
    margin-bottom: 0.8rem;
}

.separator {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.line {
    border-top: 1px solid lightgray;
    flex: 1;
}

.or {
    margin: 0 1rem;
}

.facebook-login {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    font-weight: bold;
}

.facebook-logo {
    margin-right: 0.5rem;
}

.forgot-password {
    font-size: 0.8rem;
    color: black;
}

.middle-container {

    margin: 0 auto 2rem;
    padding: 1.5rem;
    text-align: center;

}

.sign-up {
    color: cornflowerblue;
    font-weight: bold;
}

.bottom-container {
    margin: 0 auto 3rem;
    text-align: center;
}

.store-links {
    margin-top: 1rem;
}

.store-badge {
    width: 40%;
}

footer {
    width: 90%;
    margin: 0 auto;
}

.footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1.5rem;
}

.footer-links > a {
    margin: 0 0.5rem 0.5rem;
    font-size: 0.8rem;
}

.footer-copyright {
    text-align: center;
    margin-bottom: 4rem;
}

.footer-copyright > select {
    border: none;
    background-color: transparent;
}

.footer-copyright > span, .footer-copyright > select {
    color: lightslategray;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    .top-container {
        border: 1px solid lightgray;
        background-color: white;
    }

    .middle-container {
        border: 1px solid lightgray;
        background-color: white;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .flex {
        display: flex;
        justify-content: center;
        align-items: center;
    }

   
    .col-1 {
        height: 598px;
        opacity: 0.8;
        display: initial;
        margin-right: 3rem;
    }

}